main {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: end;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
